---
import Layout from "../layouts/BaseLayout.astro"
const pageTitle = "Sobre mim"

const identity = {
    firstName: "Kaio",
    country: "Brasil",
    occupation: "Student",
    hobbies: ["programar", "escrever", "fazer pixel-art"]
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro" ]
---
<style>
    main {
        width: calc(100% - 48px);
        max-width: 1128px;
        margin-inline: auto;
        margin-block: 64px;
    }

    h2 {
        color: rgb(113, 181, 255);
        margin: 0;
        margin-bottom: 24px;
    }

    p {
        font-weight: 500;
        margin-bottom: 16px;
    }
    
    ul,strong,p {
        font-size: 1.1rem;
    }
</style>

<Layout title={pageTitle}>
	<main>
		<h1>{pageTitle}</h1>
        <h2>... e meu novo site em Astro!</h2>
        <p>
            Estou programando lado a lado com o tutorial de introdução do Astro. Esta é a segunda página do meu website e é a primeira que eu faço sozinho!
        </p>

        <p>Esse site vai ser atualizado conforme eu vou completando o tutorial, então fique de olho para ver como minha jornada está indo!</p>

        <p><strong>Alguns fatos sobre mim:</strong></p>
        <ul>
            <li>Meu nome é {identity.firstName}</li>
            <li>Eu moro no e sou um {identity.occupation}</li>
            <li>Dois dos meus hobbies são {identity.hobbies[0]} e {identity.hobbies[1]}</li>
        </ul>

        <p><strong>Minhas habilidades são:</strong></p>
        <ul>
            {skills.map((skill) => {
                return (
                    <li>{skill}</li>
                )
            })}
        </ul>
        <script>
			import "../scripts/menu"
		</script>
	</main>
</Layout>
