---
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/BaseLayout.astro"
const allPosts = await Astro.glob("../pages/posts/*.md")
const pageTitle = "Blog"
---
<style>
    main {
        width: calc(100% - 48px);
        max-width: 1128px;
        margin-inline: auto;
        margin-block: 64px;
    }

    .posts-container {
        margin-top: 56px;
        border-top: 2px solid black;
        padding-top: 56px;

        display: flex;
        flex-direction: column;
        gap: 4px;
    }
</style>

<Layout title={pageTitle}>
	<main>
		<h1>Blog em astro</h1>
        
        <p>
            Aqui é onde eu postarei sobre minha jornada de aprendizagem com Astro!
        </p>

        <div class="posts-container">
            {allPosts.map(post => {
                return (
                    <BlogPost
                    title={post.frontmatter.title}
                    pubDate={post.frontmatter.pubDate}
                    description={post.frontmatter.description}
                    author={post.frontmatter.author}
                    url={post.url}
                    />
                )
            })}
        </div>
	</main>
</Layout>
